*{
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
h1,h3{
    color: white;
}
.span {
    color: black;
}
#listMark li {
    color: white;
    text-decoration: none;
}
#listContent li {
    color: black;
    text-decoration: none;
    padding-top: 3px;
}
ul {
    float: left;
    list-style: none;
}
